@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --font001: "Verdana";
  --font-cursive: "Sriracha", cursive;
  --font-title: "Passion One", sans-serif;
}

header {
  background-color: black;
  text-align: center;
  color: white;
  padding-top: 50px;
}
header h1 {
  font-family: var(--font-title);
  font-size: 10vw;
  font-variant: small-caps;
}
header p {
  padding-bottom: 50px;
  font-family: var(--font001);
}
header a {
  color: white;
}

section {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

article {
  min-width: 400px;
  padding-left: 20px;
}

pre {
  padding: 15px;
  line-height: 20vh;
  white-space: pre-line;
  font-size: 3.5vw;
  font-family: var(--font-cursive);
}

section#img1 {
  background: white url(../src/imagens/background001.jpg) left center fixed;
  padding: 15px;
  background-size: cover;
  min-height: 450px;
}
section#img1 pre {
  color: white;
  background-color: rgba(0, 0, 0, 0.282);
  display: inline-block;
}
section#img2 {
  background: white url(../src/imagens/background002.jpg) center center fixed;
  padding: 15px;
  background-size: cover;
  min-height: 450px;
}
section#img2 pre {
  color: white;
  background-color: rgba(0, 0, 0, 0.282);
  text-shadow: 2px 2px 2px black;
  display: inline-block;
}

footer {
  background-color: black;
  padding: 14px;
}
footer p,
a {
  
    color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.1em;
  font-family: var(--font001);
}
footer a {
  font-weight: bold;
}
